.toolbar {
	position: fixed;
	width: 100%;
	background-color: #1565c0;
	display: flex;
	flex-direction: column;
	top: 0;
	z-index: 1;
	padding: 0;
    margin-top: 0;
}

.mobileToolbar {
  position: fixed;
  width: 100%;
  background-color: #1565c0;
  display: flex;
  flex-direction: column;
  top: 0;
  z-index: 1;
  padding: 0;
  margin-top: 0;
}
