@mixin cardHeader-root {
	position: relative;
}

.cardHeaderWithImage {
	@include cardHeader-root;
}

.cardHeaderWithOutImage {
	@include cardHeader-root;
	min-height: 3vh;
}

.card {
	display: flex;
	position: relative;
	flex-direction: column;

	color: #fff;
	box-shadow: rgba(3, 8, 20, 0.1) 0 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0 0.075rem 0.175rem;
	height: 100%;
	width: 100%;
	border-radius: 4px;
	transition: all 500ms;
	overflow: hidden;
	grid-row: auto;

	background-size: cover;
	background: #353535 no-repeat center;
}

.card:hover {
	box-shadow: rgba(2, 8, 20, 0.1) 0 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0 0.175em 0.5em;
	transform: translateY(-3px) scale(1.1);
}
.card:focus {
	box-shadow: rgba(2, 8, 20, 0.1) 0 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0 0.175em 0.5em;
	transform: translateY(-3px) scale(1.1);
}
@media screen and (min-width: 600px) {
	.cardTall {
		grid-row: span 2 / auto;
	}

	.cardWide {
		grid-column: span 2 / auto;
	}
}
.cardContent {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.cardSubContent {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.cardActions {
}
