.cardContentElements {
	margin: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}
.grid {
	grid-template-columns: 1fr;
}
.gridAction {

  grid-column-start: 1;
  grid-column-end: 3;
}
