.table {
	display: grid;
	grid-template-columns: 1fr;
	.thead {
      padding: 0 0 20px;
		& .tr {
			display: grid;
			grid-template-columns: 1fr 1fr 100px;
			&.td {
				width: auto;
			}
		}
	}

	.tbody {
		display: grid;
		grid-template-columns: 1fr;
		& .tr {
			display: grid;
			grid-template-columns: 1fr 1fr 100px;
			& .td {
				width: auto;
			}
		}
	}
}
