@mixin button {
	border: 1px solid #3498db;
	border-radius: 4px;
	background: #1976d2;
	font-size: 1em;
	color: inherit;
	cursor: pointer;
	transition: 0.5s;
	&:hover {
		background: #115293;
	}
	&:active {
		background: #3498db;
	}
}

.button {
	@include button;
	padding: 10px 20px;
	margin: 5px;
}

.buttonSmall {
	@include button;
	padding: 5px 10px;
	margin: 10px;
}
