@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

.root {
    overflow: hidden;
    background: #F2F2F2;
}

.paper {

}

.grid {

}

body {
    background: rgb(19, 19, 19);
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
}
